root = "."
tmp_dir = "src/tmp"

[build]
  cmd = "go build -gcflags='all=-N -l' -o ./src/tmp/main ./src/main.go"
  bin = "./src/tmp/main"
  full_bin = "dlv exec ./src/tmp/main --headless --listen=:2345 --api-version=2 --accept-multiclient --continue"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "node_modules", "browser-tests", ".git"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "gohtml", "css", "sql"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = false
  keep_scroll = true
