{{define "footer-editorial"}}
<footer class="footer-editorial">
    <p class="footer-text-editorial">&copy; 2025 Taste Magazine. All rights reserved.</p>
    <div class="footer-links-editorial">
        <a href="/imprint">Imprint</a>
    </div>
</footer>
{{end}}
