{{define "recipe-cards-more"}}
{{template "pagination-footer-oob" .}}
<div class="page-marker" id="page-marker-{{.CurrentPage}}">{{.RangeStart}}-{{.RangeEnd}}</div>
{{$currentUserID := 0}}
{{if .CurrentUser}}{{$currentUserID = .CurrentUser.ID}}{{end}}
{{range .Recipes}}
{{template "recipe-card" dict "Recipe" . "IsLoggedIn" $.IsLoggedIn "CurrentUserID" $currentUserID}}
{{end}}
{{end}}
